
*{
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;                  
  font-size: 16px;                                    
  color: #434455;                    
  background-color: #ffffff;         
}

a{
  text-decoration: none;

}

.logo {
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #4d5ae5;
}

.logo .studio {
 color: #2e2f42;
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
}
ul.menu > li:first-child a:hover,
ul.menu > li:first-child a:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}

.contacts-list{
font-size: 16px;
font-size: 16px;  
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.contacts li:first-child .contacts-list:hover,
.contacts li:first-child .contacts-list:focus {
color: #404bbf;
}

.hero-banner{

}